
.text-xs-center {
        text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.navbar-brand {
    padding: 5px 15px 0 10px;
}

input#userfile {
    height: auto;
}

/*-------FAQ Accordian CSS------- */
.FAQ-wrapper {
	margin: auto;
	width: 75%;
}
.half {
	float: left;
	width: 100%;
	padding: 0 1em;
}

  /* Accordian styles */
  .tab {
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	color: #fff;
	overflow: hidden;
  }

  .blue label {
	background: #2980b9;
  }
  .tab-content {
	max-height: 0;
	overflow: hidden;
	background: #1abc9c;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
  }
  .blue .tab-content {
	background: #3498db;
  }
  .tab-content p {
	margin: 1em;
	  height: auto;
  }

